# build fun
target/

# clojure
.calva/
.clj-kondo/
.cpcache/
.lsp/
.nrepl-port

# test pdfs might be throughout the system, just don't track them
**/test.pdf

# ide stuff
.vscode/
.idea/

# os stuff
**/.DS_Store

